section {}

* {
    font-family: 'Roboto', sans-serif;
    color: #878787;
}

ul {
    padding-top: 8px;
    /* padding-bottom: 5px; */
    border-top: 2px dotted #d8d8d8;
    font-size: 13px;
}

li:nth-child(2).new:not(:last-child) {
    border-left: 2px solid #d8d8d8;
    border-right: 2px solid #d8d8d8;
}

li:last-child.new:not(:first-child) {
    border-left: 2px solid #d8d8d8;
}

.new {}

.description {
    font-size: 14px;
    max-width: 55%;
}

.amazon {
    float: right;
    font-size: 14px;
}

img[height="95"] {
    position: absolute;
    top: 20px;
    right: 17px;
}

img[height="118"] {
    position: absolute;
    top: 15px;
    right: 32px;
}

.goods {
    margin: 0 auto;
    height: 100%;
}

a {
    float: left;
    display: block;
    color: black;
    text-decoration: none;
    margin: 13px 15px;
    height: 100%;
    /* width: 384px; */
}

a:hover .card {
    outline-width: 3px;
}

.card {
    outline: 2px solid #ff6666;
    padding: 0 20px;
    padding-top: 0;
    box-sizing: border-box;
    position: relative;
    /* width: 384px; */
    height: 100%;
}

.card ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    width: 100%;
    justify-content: space-around;
}

.card ul li {
    display: inline-block;
    flex: 1;
    text-align: center;
}

.card ul li:first-child {
    flex: 1 1 132px;
    text-align: center;
}

.card ul li:last-child {
    flex: 1 1 88px;
    text-align: center;
}

.card ul li:nth-child(2) {
    flex: 1 1 128px;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

.description {
    font-size: 14px;
}

.wrapper .description {
    padding-top: 80px;
}

.card-red img {
    margin-bottom: 50px;
}

.card-red {
    outline-color: #ff6666;
}

.card-orange {
    outline-color: orange;
}

.card-yellow {
    outline-color: #ffbe17;
}

.card-orange img {
    display: block;
    flex: 1;
}

.card-orange .new {
    padding-right: 0;
    text-align: center;
}

.circle {
    top: 9px;
    left: 12px;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    color: white;
}

.circle-red {
    background: #ff6666;
}

.circle-orange {
    background: orange;
}

.circle-yellow {
    background: #ffbe17;
}

.circle h3 {
    color: white;
    vertical-align: middle;
    margin-top: 7px;
}

.top-deal img {
    display: block;
    margin: 0 auto;
    padding-top: 18px;
    margin-bottom: 55px;
}

.top-deal {
    /* width: 250px; */
    /* height: 446px; */
}

.new-price {
    width: 30px;
    font-size: 25px;
}

.price-orange {
    color: orange;
}

.price-yellow {
    color: #ffbe17;
}

.price-red {
    color: #ff6666;
}

.old-price {
    position: relative;
    color: #878787;
}

.old-price:before {
    width: 40px;
    top: 6px;
    left: 0;
    position: absolute;
    content: "";
    border-top: 2px solid black;
    transform: rotate(12deg);
    border-color: #878787;
}

.clearfix {
    display: block;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

.timer {
    /* padding-left: 29px; */
}

@media screen and (max-width:767px) {
    .goods {}
    a {
        width: 95%;
    }
}

@media screen and (min-width:768px) {
    .goods {}
    a {
        width: 45%;
    }
}

@media screen and (min-width:992px) {
    .goods {}
    a {
        width: 30%;
    }
}

@media screen and (min-width:1200px) {
    .goods {
        margin: 0 auto;
    }
    a {
        width: 30%;
    }
}


/* Large> 1200px (3) *
Middle> 992px (3)
Small> 768px (2)
Extra small <767px (1) */